

.box {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(186, 186, 255);
}



/* nav bar background */
.topnav {
background-color: #100e0e;
overflow: hidden;
}

/* links within navbar */
.topnav a {
float: left;
color: #64b7f7;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* hovering within navbar */
.topnav a:hover {
background-color: rgb(114, 187, 239);
color: rgb(248, 95, 44);
}

/* discrepancy on current link */
.topnav a.active {
background-color: #04AA6D;
color: white;
}

.box2 {
  text-align: center;
  color: navy;
  padding: 20px;
  background:linear-gradient(to bottom, rgba(231, 240, 245, 1) 0%, rgb(249, 60, 18) 100%);
}

.emailstyle {
  background-color: rgb(48, 47, 47);
  color :#ff8000;
  padding: 20px;
}



footer {
  background-color: var(--bg-color);
  padding-bottom: 20px;
  text-align: center;
  margin-top: 2%;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-info a{
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;
  padding-right: 1%;
}
.contact-info p{
  padding-right: 1%;
  font-size: large;
  color: var(--text-color)
}
.contact-info i{
  font-size: 40px;
}


.contain {
  display: flex;
  justify-content: space-between;
}

.showcenter {
  text-align: center;
}














