.box {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}



/* nav bar background */
.topnav {
background-color: #333;
overflow: hidden;
}

/* links within navbar */
.topnav a {
float: left;
color: #ff8000;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* hovering within navbar */
.topnav a:hover {
background-color: black;
color: black;
}

/* discrepancy on current link */
.topnav a.active {
background-color: #04AA6D;
color: white;
}

.box {
  text-align: center;
  background-color: #000000;
  color: #ff8000;
  padding: 20px;
}

.emailstyle {
  background-color: rgb(48, 47, 47);
  color :#ff8000;
  padding: 20px;
}